<!--<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-image">"/icon.png"</div>
    <div class="home-sub-text"> <h3>
        Welcome to HUG Future homepage.
        Check out the <a href="{{'/notes' | relative_url}}"> Uni-list </a>, <a href="{{'/post/cv' | relative_url}}"> initiative </a> and <a href="{{'/post/blog' | relative_url}}"> news</a>.
        </h3>
</div> </div>--!>

<div class="home-wrapper">
        <div class="home-intro">
            <h1>Welcome to HUG Future homepage.</h1>
            <p>This is the introduction section of my homepage.</p>
        </div>
        <div class="home-image">
            <img src="/icon.png" alt="Descriptive Alt Text">
            <div class="home-image-meta">
                <div class="home-image-meta-text">
                    <span>Image Description</span>
                </div>
                <div class="home-image-meta-text">
                    <span>Additional Info</span>
                </div>
            </div>
        </div>
    </div>
