<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <p>Human Geographers of the Future</p>
    <div class="home-sub-text"> <h3>
        Welcome to HUG Future homepage.
        Check out the <a href="{{'/notes' | relative_url}}"> Uni-list </a>, <a href="{{'/post/cv' | relative_url}}"> Initiative </a> and <a href="{{'/posts' | relative_url}}"> news</a>.
        </h3>
</div> </div>

<img src="wordcloud_hugfuture.png" alt="Description of Image" style="width: 100%; height: auto; display: block;">

<video controls>
        <source src="wordcloud_hugfuture.mp4" type="video/mp4">
    </video>


<div class="简介">
      <h1>Human Geographers of the Future (HUG Future)</h1>
          <h1>未来人文地理是</h1>
    <p>人文地理学青年学者的国际交流平台。</p>
        <p>我们追求批判的（C）、有趣的（I）、多样的（D）人文地理学。</p>
    
      <!--<a id="UHI" href="#">Urban Heat Adaptation</a>
      <a id="rural" href="#">Rural Development and Governance</a>
      <a id="poverty" href="#">Poverty Alleviation</a>
      <div class="button-research">
          <button class="button-UHI">
              <span class="Urban">Urban Heat Adaptation</span>
              <span class="Doctoral">Doctoral research</span>
              <span class="year-urban">2022~</span>
          </button>
          <button class="button-Poverty">
              <span class="poverty">Poverty Alleviation</span>
              <span class="survey">Survey conductor and consultant</span>
              <span class="year-survey">2020-2021</span>
          </button>
          <button class="button-Rural">
              <span class="Rural">Rural Development and Governance</span>
              <span class="Master">Master research</span>
              <span class="year-rural">2019-2022</span>
          </button>
    </div>-->
        </div> 

        
     <!--newest products 111111111111111111111111111111111111111111111111111111111 --> 
<div class="核心项目">
     <h1>核心项目</h1>
     <div class="院校介绍">
         <div class="action-map-container">
             <img src="action-map.png" alt="action-map" class="map-image">           
             <div class="map-overlay">
                 <a href="xxx">                  
                     <div class="map-text">院校介绍</div>
                 </a>           
             </div>
         </div>
         <div class="求职&留学资讯">
             <a href="xxx"></a>
                 <img src="infographic_HK heat.png" alt="info" class="info-image">
                 <div class="info-overlay">
                     <a href="xxx"> 
                     <div class="info-text">求职&留学资讯</div>
                     </a>
                 </div>
         </div>
         <div class="读书会">
             <img src="publication.png" alt="publication" class="publication-image">
             <div class="publication-overlay">
                 <a href="xxx"> 
                     <div class="publication-text">读书会</div>
                 </a>
             </div>
         </div>
     </div>
</div>     


    
<div class="团队">
     <h1>我们的团队是</h1>
    <p>由几十位致力于促进中西人文地理学对话的青年学者、博士、硕士研究生组成。我们的目标是引领国内外人文地理学的双向交流，促进知识与信息共享。</p>
     <h1>创始成员</h1>
     <div class="xx">
         <div class="action-map-container">
             <img src="action-map.png" alt="action-map" class="map-image">           
             <div class="map-overlay">
                 <a href="xxx">                  
                     <div class="map-text">xxx</div>
                 </a>           
             </div>
         </div>
         <div class="xx">
             <a href="xxx"></a>
                 <img src="infographic_HK heat.png" alt="info" class="info-image">
                 <div class="info-overlay">
                     <a href="xxx"> 
                     <div class="info-text">xx</div>
                     </a>
                 </div>
         </div>
         <div class="xx">
             <img src="publication.png" alt="publication" class="publication-image">
             <div class="publication-overlay">
                 <a href="xxx"> 
                     <div class="publication-text">xx</div>
                 </a>
             </div>
         </div>
     </div>
</div> 


 

<div class="底部">
    <div class="联系我们">
        <h1>联系我们</h1>
        <a href="https://www.linkedin.com/in/xiaofei-qin-07ba4b26b/" id="linkedin"><img alt="LinkedIn logo initials" src="linkedin.svg"></a> 
    </div>
    <div class="全球网站">
        <h1>English</h1>
        <a href="https://www.linkedin.com/in/xiaofei-qin-07ba4b26b/" id="linkedin"><img alt="LinkedIn logo initials" src="linkedin.svg"></a> 
    </div>
</div>
