.member-box {
    display: flex;
    flex-direction: row; /* Default to row for wider screens */
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin: 20px auto 0;
    text-align: center; /* Center align text */
}

.member-box img {
    width: 50px; /* Fixed width for the image */
    height: 50px; /* Fixed height for the image */
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
}

.member-box p {
    margin: 0; /* Remove default margin */
}

/* Media queries for smaller screens */
@media (max-width: 991px) {
    .member-box {
        flex-direction: column; /* Change to column for narrower screens */
        width: 100px;
        text-align: center; /* Center align text */
    }
    .member-box img {
        width: 100%;
        height: auto; /* Adjust height to maintain aspect ratio */
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add space between image and text */
    }
}
